html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.mylink a:hover {
  text-decoration: none;
}
<<<<<<< HEAD
=======
.mylink a{
   color: #0d6aad;
}
>>>>>>> 9646128857440296ff48063852d1add52e520521
.qtime p{
  padding-top: 0px;
}
.searchbar{
  padding-left: 50px !important;
}
.qprofile, .qname{
  display: block;
  width:100px;
  height:100px;
  border-radius:50%;
  margin: auto;
  object-fit: cover;
}
.qprofileComment{
  display: block;
  width:70px;
  height:70px;
  border-radius:50%;
  margin: auto;
}
.card-subtitle{

}

.qprofileNotification{
  display: block;
  width:50px;
  height:50px;
  border-radius:50%;
  /* margin:; */
}
.mynav img{
  margin-left: 25px;
}
.qname{
  height: 30px !important;
}
.askbtn{
  margin-left: 24px;
}
.test{
  margin-top: 4px;
  display: inline-block;
  float: left;
  clear: left;
}
.flybee{

}
.mycard{
  border-radius: 20px !important;
  border: none !important;
}
@media(max-width:768px ) {

  .banpoint{
    bottom: -250px !important;
  }
  .test{
    margin-top: -2px;
  }
  .qprofile{
    width: 50px;
    height: 50px;
  }
  .resipad{
    font-size: 12px;
  }
  .qname{
    margin-left: -25px;
  }
  .qtime{
    font-size: 10px;
  }
  .card-title{
    font-size: 15px;
  }
  .flybee{
    font-size: 10px;
  }
  .img_flybee{
    width: 20px !important;
    margin-left: 5px;
  }

}
@media(max-width:768px ) {

  .test{
    margin-top: -2px;
  }
  .qprofile{
    width: 50px;
    height: 50px;
  }
  .resipad{
    font-size: 12px;
  }
  .qname{
    margin-left: -25px;
  }
  .qtime{
    font-size: 10px;
  }
  .card-title{
    font-size: 15px;
  }
  .flybee{
    font-size: 10px;
  }
  .img_flybee{
    width: 20px !important;
    margin-left: 5px;
  }

}
@media(max-width:992px){
  .searchbar{
    padding-left: 0px !important;
  }
  .askbtn{
    margin-left: 0px !important;
    margin-top: 15px;
    /* padding-left: 0 !important ; */
  }
  .mynav img{
    margin-top: 15px;
  }

}
.notifcation{
  width: 10px;
}
.dropdown-toggle, .dropdown-menu { width: 300px }
/* .dropdown-toggle { padding-right: 50px }
.dropdown-toggle { margin-left: 20px; margin-right: -40px } */
/* .dropdown-menu>li>a:hover { background: #f1f9fd } $search-blue */
/* .dropdown-header { background: rgb(133, 189, 253); font-size: 14px; font-weight: 700; padding-bottom: 5px; margin-bottom: 5px ;color: 'white'} */

@media(max-width:375px){
  .mycard{
    width: 90% !important;
  }
<<<<<<< HEAD
=======
  .banpoint{
    bottom: -50px !important;
    height: 100px;
  }
  .banpoint p {
    font-size: 12px;
  }
  .myprofilepage{
      height: 400px !important;
  }
  .c1{
    bottom: -50px !important;

  }
  .c1 img{
    margin-left: 75px !important;
  }
  .c2{
    bottom: -5px !important;
    margin-left: 130px !important;
  }
  .cc{
    padding-left: -10px !important;
  }
  .dp{
    margin-top: 0px;
  }
>>>>>>> 9646128857440296ff48063852d1add52e520521
}

.navbar {
  -webkit-box-shadow: 2px 5px 7px -1px rgb(224, 224, 224) !important;
  -moz-box-shadow: 0px 5px 7px -1px rgb(224, 224, 224) !important;
  box-shadow: 0px 5px 7px -1px rgb(224, 224, 224) !important;

}
.mycard{
  -webkit-box-shadow: 1px 1px 15px 0px rgba(196,196,196,1) !important;
  -moz-box-shadow: 1px 1px 15px 0px rgba(196,196,196,1) !important;
  box-shadow: 1px 1px 15px 0px rgba(196,196,196,1) !important;

}
