html, body {
    max-width: 100%;
    overflow-x: hidden;
}
  
.searchbar{
padding-left: 50px !important;
}
.qprofile, .qname{
display: block;
width:100px;
height:100px;
border-radius:50%;
margin: auto;
}
.mynav img{
    margin-left: 25px; 
}
.qname{
height: 30px !important;
}
.askbtn{
margin-left: 24px;
}
.test{
display: inline-block;
float: left;
clear: left;
}
.mycard{
    border-radius: 20px !important;
    border: none !important;
}
@media(max-width:992px){
.searchbar{
    padding-left: 0px !important;
}
.askbtn{
    margin-left: 0px !important;
    margin-top: 15px;
    /* padding-left: 0 !important ; */
}
.mynav img{
    margin-top: 15px;
}

}
@media(max-widtth:375px){

}

.navbar {
-webkit-box-shadow: 2px 5px 7px -1px rgb(224, 224, 224) !important;
-moz-box-shadow: 0px 5px 7px -1px rgb(224, 224, 224) !important;
box-shadow: 0px 5px 7px -1px rgb(224, 224, 224) !important;

}
.mycard{
-webkit-box-shadow: 1px 1px 15px 0px rgba(196,196,196,1) !important;
-moz-box-shadow: 1px 1px 15px 0px rgba(196,196,196,1) !important;
box-shadow: 1px 1px 15px 0px rgba(196,196,196,1) !important;

}

.error{
    color: red;
}